name = "helix-mixer"
main = "dist/helix3/helix-mixer-edge-bundle.cjs"
compatibility_date = "2024-03-21"
compatibility_flags = ["nodejs_compat"]
account_id = "852dfa4ae1b0d579df29be65b986c101"
workers_dev = true
send_metrics = false

build = { command = "npm install && npm run build" }

[vars]
VERSION = "@@VERSION@@-dev"
ENVIRONMENT = "dev"

# ----------------------------------------------------------------------
# ci environment

[env.ci]
name = "helix3--helix-mixer-ci"

[env.ci.vars]
VERSION = "@@VERSION@@-ci"
ENVIRONMENT = "ci"

# ----------------------------------------------------------------------
# production environment

[env.production]
name = "helix-mixer"

[env.production.vars]
VERSION = "@@VERSION@@"
ENVIRONMENT = "prod"

[env.production.observability.logs]
enabled = true
head_sampling_rate = 1


# [secrets]
# PRODUCT_PIPELINE_TOKEN
